@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));  /* <-- add this line */

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}